video {
  background:#222;
  vertical-align: top;
  --width: 40vw;
  width: var(--width);
  height: calc(var(--width) * 0.5625);
}

.btn{
  width: 100%;
}

@media screen and (max-width: 738px) {
  video {
    background:#222;
    vertical-align: top;
    --width: 80vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
  }
}
